<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!--<default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper"/>
    </default-wrapper>-->

    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="logs/nlog-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <!-- Console target -->
    <target name="consoleTarget" xsi:type="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile,consoleTarget" />
  </rules>
</nlog>